- user = defined?(@user) ? @user : current_user
- posts = local_assigns[:posts] || (user.posts.with_attached_images.order(created_at: :desc))

.container.profile_container
  .account_info{data: { user_id: user.id }}
    = link_to :back do
      = image_tag 'Tabs.svg', class: 'header_back'
    %p.account_name= user.account_name
    - unless user == current_user
      %button.unfollow-btn.hidden Unfollow
      %button.follow-btn.hidden Follow


  - if user == current_user
    = form_with( model: @profile, url: profile_path , method:'patch', local: false, id: 'profile-form', html: { multipart: true } ) do |f|
      = f.file_field :avatar, name: 'profile[avatar]', id:'avatar-input', style: 'display: none;'
      =image_tag user.profile&.avatar&.attached?? url_for(user.profile.avatar) : 'avatar.svg', id: 'avatar-upload', class: 'avatar_img' , style: 'cursor: pointer;'
  -else 
    =image_tag user.profile&.avatar&.attached?? url_for(user.profile.avatar) : 'avatar.svg', id: 'avatar-upload', class: 'avatar_img' , style: 'cursor: pointer;' 
  .stats-container
    .stat
      .stat-number= user.post_count
      .stat-label Posts
    .stat
      = link_to followers_account_path(user), class: 'follow-link' do
        .stat-number.stat-follower-number= user.follow_count
        .stat-label Followers
    .stat
      = link_to following_account_path(user), class: 'follow-link' do
        .stat-number= user.following_count
        .stat-label Following

  - posts.each do |post|
    -if user == current_user 
      = link_to edit_post_path(post) do
        - image_count = post.images.count

        - if image_count == 3
          .post_img.three-images
            .img_left_wrapper
              = image_tag url_for(post.images.first), class: 'img_left'
            .img_right_wrapper
              = image_tag url_for(post.images.second), class: 'img_right'
              = image_tag url_for(post.images.third), class: 'img_right'

        - elsif image_count == 2
          .post_img.two-images
            .img_two_wrapper
              = image_tag url_for(post.images.first), class: 'img_two'
              = image_tag url_for(post.images.second), class: 'img_two'

        - elsif image_count == 1
          .post_img.one-image
            = image_tag url_for(post.images.first), class: 'img_one'

    -#     .post_img 
    -#       .img_left_wrapper
    -#         = image_tag url_for(post.images.first), class: 'img_left'
    -#       .img_right_wrapper
    -#         = image_tag url_for(post.images.second), class: 'img_right'
    -#         = image_tag url_for(post.images.third), class: 'img_right'
    -# - else
      .post_img 
        .img_left_wrapper
          = image_tag url_for(post.images.first), class: 'img_left'
        .img_right_wrapper
          = image_tag url_for(post.images.second), class: 'img_right'
          = image_tag url_for(post.images.third), class: 'img_right'    
- unless Rails.env.test?
  = javascript_pack_tag 'follow'