.container.timeline-container
  = link_to new_post_path do
    = image_tag 'timeline/photo-camera.png', class: 'camera-icon'
  - @posts.each do |post|
    .post_imformation
      .icon
        = image_tag(post.user.profile.avatar) if post.user.profile.avatar.attached?
      .post_detail
        %p.post-account_name= post.user.account_name
        %p.post_time= I18n.with_locale(:en) { time_ago_in_words(post.created_at) + ' ago' }
    .post_img 
      .img_left_wrapper
        -# = image_tag 'timeline/Post_img_1.png', class: 'img_left'
        = image_tag url_for(post.images.first), class: 'img_left'
      .img_right_wrapper
        -# = image_tag 'timeline/Post_img_2.png', class: 'img_right'
        -# = image_tag 'timeline/Post_img_2.png', class: 'img_right'
        = image_tag url_for(post.images.second), class: 'img_right'
        = image_tag url_for(post.images.third), class: 'img_right'
    .post-actions
      .like-button
        = image_tag 'timeline/active-like.png', class: 'active-heart-button heart-button' 
        = image_tag 'timeline/inactive-like.png', class: 'iactive-heart-button heart-button'
      .comment-button 
        = image_tag 'timeline/comment.png'
      .share-button 
        = image_tag 'timeline/share.png'
    .post_content 
      %p Jasmine and 12,000 other liked your post
      .post-footer 
        %p= post.user.account_name
        %p= post.content
