.container.timeline-container
  = link_to new_post_path do
    = image_tag 'timeline/photo-camera.png', class: 'camera-icon'
  - @posts.each do |post|
    .post_imformation{id: "post_#{post.id}"}
      .icon
        = image_tag(post.user.profile.avatar) if post.user.profile.avatar.attached?
      .post_detail
        %p.post-account_name= post.user.account_name
        %p.post_time= I18n.with_locale(:en) { time_ago_in_words(post.created_at) + ' ago' }
    .post_img 
      .img_left_wrapper
        = image_tag url_for(post.images.first), class: 'img_left'
      .img_right_wrapper
        = image_tag url_for(post.images.second), class: 'img_right'
        = image_tag url_for(post.images.third), class: 'img_right'
    .post-actions{ data: { post_id: post.id } }
      - if user_signed_in?
        .like-button.hidden.active-heart-button 
          = image_tag 'timeline/active-like.png', class: 'heart-button' 
        .like-button.hidden.inactive-heart-button 
          = image_tag 'timeline/inactive-like.png', class: 'heart-button'
      .comment-button 
        = image_tag 'timeline/comment.png'
      - share_url = "https://twitter.com/share?url=#{ERB::Util.url_encode(root_url(anchor: "post_#{post.id}"))}&text=#{ERB::Util.url_encode(post.content)}"
      .share-button
        = link_to share_url, target: '_blank', rel:"noopener noreferrer", data: { turbo: false, toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do 
          = image_tag 'timeline/share.png'
    .post_content 
      - if post.like_count == 0
        %p No likes yet
      - elsif post.like_count == 1
        %p= "#{post.likes.last.user.account_name} liked your post"
      -else
        %p= "#{post.likes.last.user.account_name} and #{post.like_count - 1} other liked your post"
      .post-footer 
        %p= post.user.account_name
        %p= post.content

= javascript_pack_tag 'post'
